:root {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #a7a49f;
  font-family: "Lato", sans-serif;
}

.resume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem auto;
  max-width: 120rem;
  -webkit-box-shadow: 10px 10px 18px -7px rgba(0, 0, 0, 0.5);
          box-shadow: 10px 10px 18px -7px rgba(0, 0, 0, 0.5);
}

.resume__left {
  width: 30%;
  background-color: #3d3d3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.resume__right {
  width: 70%;
  background-color: #fafaf8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6rem;
}

.resume__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 3rem;
}

.resume__profile-photo img {
  height: 20rem;
  width: 20rem;
  border-radius: 100px;
  border: 0.3rem solid #fafaf8;
}

.resume__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
}

.resume__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
}

.resume__item .title {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  font-weight: normal;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.resume__item .title-light {
  color: #fafaf8;
}

.resume__item .title-dark {
  color: #3d3d3d;
}

.resume__item .list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.resume__item .list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2.5rem;
}

.resume__item .list__item-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.resume__item .list__item-icon i {
  font-size: 3rem;
  color: #fafaf8;
}

.resume__item .list__item-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 1rem;
}

.resume__item .list__item .light {
  color: #fafaf8;
}

.resume__item .list__item .dark {
  color: #3d3d3d;
}

.resume__item .list__item-title {
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
}

.resume__item .list__item-subtitle {
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
}

.resume__item .list__item-link {
  text-decoration: none;
}

.resume__item .list__item-years {
  width: 20%;
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  color: #3d3d3d;
}

.resume__item .list__item-place {
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  color: #3d3d3d;
}

.resume__item .skills__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  row-gap: 1rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.resume__item .skills__list .skill__item {
  color: #fafaf8;
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  border: 0.2rem solid #fafaf8;
  padding: 0.5rem;
}

.resume__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.resume__name {
  font-family: 'Lato', sans-serif;
  font-size: 4.8rem;
  font-weight: normal;
  letter-spacing: 0.5rem;
}

.resume__job {
  font-family: 'Lato', sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
}

.projects-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  row-gap: 2rem;
  padding: 2rem 0;
}

.projects-list .project-card {
  width: calc(100% / 2 - 2rem);
  height: 25rem;
  max-width: 30rem;
  background: #fafaf8;
  overflow: hidden;
  position: relative;
  text-decoration: none;
}

.projects-list .project-card__image {
  height: 65%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  background-size: cover;
  background-position: center;
}

.projects-list .project-card__image:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.projects-list .project-card__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 35%;
  padding: 0.5rem;
  background-color: #3d3d3d;
  color: #fafaf8;
}

.projects-list .project-card__text .project-name {
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  text-align: center;
  padding-bottom: 0.5rem;
}

.projects-list .project-card__text .project-description {
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: justify;
}

.projects-list .project-card__text .project-technology {
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
}
/*# sourceMappingURL=style.css.map */